{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Hakkımda</h1>
            <span class="subheading">Gökalp Kaptan Kimdir?</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Başım köpük köpük bulut içim dışım deniz<br>
           Ben bir ceviz ağacıyım Gülhane Parkı'nda<br>
           Budak budak serham serham ihtiyar bir ceviz<br>
           Ne sen bunun farkındasın ne polis farkında<br>
           <br>
           Ben bir ceviz ağacıyım Gülhane Parkı'nda<br>
           Ne sen bunun farkındasın ne de polis farkında<br>
           Ben bir ceviz ağacıyım Gülhane Parkı'nda<br>
           Yapraklarım suda balık gibi kıvıl kıvıl<br>
           Yapraklarım ipek mendil gibi tiril tiril<br>
           Koparıver gözlerinin gülüm yaşını sil</p>
        <p>Bazen biz denizciler, kendimizi yabancı bir şarkı gibi hissederiz. Dinleyenimiz çok, ama anlayanımız yok!</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}